
.post {
    margin-bottom:15px;
    padding:0;
    width:80%;
}

.post h2, p, a {
    margin:0;
    padding:0;
}

.post h2 {
    font-size:16px;
}

.post a {
    text-decoration: none;
    color: black;
}
.post a:hover {
    color: purple;
}

.post .url {
    font-size:0.8em;
    color: #444;
}

.post h2 img {
    vertical-align:baseline;
}

a.tagchips {
  
    display: inline-block;
    background-color: black;
    color: white;
    margin-right: 4px;
    padding:2px; 
    padding-left:1em;
    padding-right:1em;
    font-size:0.6em;
    font-weight:bold;
    cursor: pointer;
}

.tagchips:hover{
    background-color: green;
}




/* my Grid system */

.row {
    display:grid;
    grid-template-columns: 12em 3em 50em ;
    margin-left: 4em;
    margin-top: 4em;
}
.taglist {
   grid-column: 1;
   grid-row: 1;
}
.postlist {
   grid-column: 3;
}

/* Tag list */

    /*reset list*/
.taglist li {
    list-style-type: none;
    margin:0;
    padding:0;
}



.selectedlist, .remaininglist {
    margin:0;
    padding:0;
    margin-bottom:0em;
}


.selectedlist li:last-child {
    margin-bottom:2em;
}





.taglist {
    font-family: sans;
    font-size:0.8em;
    font-weight:bold;

}



.tagbutton {
    display:block;
    box-sizing: border-box;
    width:100%;
    
    
    margin-bottom:0.6em;

    padding: 0.4em;

    padding-left:1.2em;


    opacity:1;
    text-decoration:none;
    color:white;
    
    box-shadow: 3px 2px 4px 2px #ddd;
}

.tagbutton:hover {
    position: relative;
    left:4px;
}

.selectedlist  .tagbutton:hover {
    position: relative;
    left:-6px;
}

/*
.tagbutton:hover:after {
    content: "+";
    
}*/


