body {
    font-family: sans;
}
.post {
    margin-bottom:20px;
    padding:0;
}

.post h2, p, a {
    margin:0;
    padding:0;
}

.post h2 {
    font-size:0.99em;
}

.post a {
    text-decoration: none;
    color: black;
}
.post h2 a:hover {
    color: #40379f;
}

.post .url {
    font-size:0.7em;
    color: #555;
    vertical-align: top;
}

.post h2 img {
    vertical-align:baseline;
}

.post p {
    font-family:monospace;
    font-size:0.99em;
    padding-left:2px;
    color:#222;
}


a.tagchips {
  
    display: inline-block;
    background-color: black;
    color: white;
    margin-right: 4px;
    padding:2px; 
    padding-left:1em;
    padding-right:1em;
    font-size:0.6em;
    font-weight:bold;
    cursor: pointer;
}

.tagchips:hover{
    position:relative;
    top:-1px;
    color:white;
}




/* my Grid system */

.row {
    display:grid;
    grid-template-columns: 12em 3em 50em ;
    margin-left: 4em;
    margin-top: 4em;
}
.taglist {
   grid-column: 1;
   grid-row: 1;
}
.postlist {
   grid-column: 3;
}

/* Tag list */

.taglist li {
    list-style-type: none;
    margin:0;
    padding:0;
}


.selectedlist, .remaininglist {
    margin:0;
    padding:0;
    margin-bottom:0em;
}

.selectedlist li:last-child {
    margin-bottom:2em;
}



.taglist {
    font-size:0.8em;
    font-weight:bold;
}


.tagbutton {
    display:block;
    box-sizing: border-box;
    width:100%;
    
    margin-bottom:0.6em;

    padding: 0.4em;
    padding-left:1.2em;


    text-decoration:none;
    color:white;
    
    box-shadow: 3px 2px 4px 2px #ddd;
}

.tagbutton:hover {
    position: relative;
    left:4px;
}

.selectedlist  .tagbutton:hover {
    position: relative;
    left:-6px;
}


/* debug */
pre {
    position:absolute;
    top:5px;
    left:5px;
    color:#999;
    font-size:0.6em;
}

