

<!doctype html>

<html ng-app="bkscratch">
    <head>
	 <meta charset="UTF-8"> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="app.js"></script>
        
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        


	<div ng-controller="viewerCtrl" >
               
        <pre> {{selectedtags}} </pre>
       		
	    <div class='row'>
		
            <div class='postlist'>  
		        <div ng-repeat="post in filtered | limitTo : 30 " class='post'>
		            
		            
	                <h2>        
	                    <img ng-src='{{"http://www.google.com/s2/favicons?domain="+post.url}}' />              
	                    <a href="{{post.url}}"> {{post.title}}</a>
	                </h2>
	                <span class='url'> {{post.url| limitTo:60}}{{post.url.length > 60 ? '...' : ''}} </span>
		            
		            <p>{{post.description}}</p>
		            
		            <div>
		                <a class='tagchips'  ng-repeat="tag in post.tags | orderBy:'toString()'"
		                    ng-click="addtag(tag)" style="background-color:{{tag|getcolor}};" >{{tag}}</a>
		            </div>
		        </div>
		    </div>
		    
		    <div class='taglist'>
		    
		        <ul class='selectedlist'>
		        	<li ng-repeat="tag in selectedtags " >
		              <a href="#" ng-click="removetag(tag)"
		                class='tagbutton' style="background-color:{{tag|getcolor}};" >{{tag}}</a>	        
		            </li>
		        </ul>

		        <ul class='remaininglist'>
		          <li ng-repeat="tag in remainingtags" >
		            <a href="#" ng-click="addtag(tag.label)"
		                       class='tagbutton' style="background-color:{{tag.label | getcolor}};" >
		                 {{tag.label}} ({{tag.count}})
		             </a>	        
		           </li>
		        </ul>
		    
		</div>
	</div>
    </body>
</html>


