

<!doctype html>

<html ng-app="bkscratch">
    <head>
	 <meta charset="UTF-8"> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="app.js"></script>
        
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        


	<div ng-controller="viewerCtrl" >
               
        Search by tag: <input ng-model="selectedtags" ng-list=","  required />  
		{{filtered.length}} / {{bookmarkslist.length}}
		
		<pre>{{selectedtags}}</pre>
		
	    <div class='row'>
		
            <div class='col2'>  
		        <div ng-repeat="post in filtered | limitTo : 30 " class='post'>
		            <h2>
               <img ng-src='{{"http://www.google.com/s2/favicons?domain="+post.url}}' /> 
		                <a href="{{post.url}}"> {{post.title}}</a>
		            </h2>
		            <span class='url'> {{post.url}} </span>
		            <p>{{post.description}}</p>
		            <span> {{post.date | date: 'dd/MM/yyyy'}} </span>
		            <div>
		                <a class='tagchips'  ng-repeat="tag in post.tags | orderBy:'toString()'"
		                    ng-click="addtag(tag)">{{tag}}</a>
		            </div>
		        </div>
		    </div>
		    
		    <div class='col1'>
		    
		    	<div ng-repeat="tag in selectedtags " >
		          <a href="#" ng-click="removetag(tag)"
		            class='tagbutton' style="background-color:{{tag|getcolor}};" >{{tag}}</a>	        
		         </div>
		    
		    <p>--</p>
		    
		        <div ng-repeat="tag in remainingtags" >
		              <a href="#" ng-click="addtag(tag.label)"
		                       class='tagbutton' style="background-color:{{tag.label | getcolor}};" >
		                 {{tag.label}} ({{tag.count}})
		              </a>	        
		        </div>
		    
		</div>
	</div>
    </body>
</html>


